<div>
    <div id="colorPalette">

    </div>        
        <button class="changeSizeButton" value="larger">+</button>
        <button class="changeSizeButton" value="smaller">-</button>
        
        <input id="lineSize"></input>
        
        <button id="clearAll">clear</button>
    <canvas id="canvas"></canvas>
</div>
<!-- <script src=/js/app.js></script> -->